<metable>
  <table class="table table-striped table-bordered table-nonfluid">
      <thead>
          <th>Action&nbsp;</th>
          <th>Id&nbsp;</th>
          <th>departament Name&nbsp;</th>
          <th>Company&nbsp;</th>
      </thead>
      <tbody>
          <tr ng-repeat="data in departament">
              <td>
                  <div class="bs-glyphicons btn-group">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-click="save(data)">save</span>
                      <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="remove(data)">delete</span>
                  </div>
              </td>
              <td>
                  {{data.departament_id}}
              </td>
              <td>
                  <input type="text" class="form-control" ng-model="data.departament_name" />
              </td>
              <td>
                <!-- <select ng-model="data.person_id" class="form-control" ng-options="person_id.person_id as person_id.last_name for person_id in person"></select> -->
                <select ng-model="data.company_id" class="form-control" ng-options="company_id.company_id as company_id.company_name for company_id in company"></select>
              </td>

          </tr>
      </tbody>
  </table>
</metable>
