<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <span class="btn btn-lg btn-success" ng-click="resetAll()">
                <i class="glyphicon glyphicon-plus"></i> &nbsp;Reload All
            </span>
    </div>
</nav>
