<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <span class="btn btn-lg btn-success" ng-click="add()">
                <i class="glyphicon glyphicon-plus"></i> &nbsp;Add new
            </span>
      <span class="metable-caption">table name: {{tableName}}</span>
    </div>
</nav>
<style media="screen">
    .table-nonfluid {
        /*width: auto !important;*/
    }
</style>

<div ng-transclude></div>

<div class="col-md-12" ng-show="user.length == 0">
    <div class="col-md-12">
        <h4>No user found</h4>
    </div>
</div>
