<metable>
    <table class="table table-striped table-bordered table-nonfluid">
        <thead>
            <th>Action&nbsp;</th>
            <th>Id&nbsp;</th>
            <th>Position Name&nbsp;</th>
            <th>Salary&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in position">
                <td>
                    <div class="bs-glyphicons btn-group">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-click="save(data)">save</span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="remove(data)">delete</span>
                    </div>
                </td>
                <td>
                    {{data.position_id}}
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="data.position_name" />
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="data.salary" />
                </td>


            </tr>
        </tbody>
    </table>
    <div class="col-md-12" ng-show="user.length == 0">
        <div class="col-md-12">
            <h4>No user found</h4>
        </div>
    </div>
</metable>
