<metable>
  <table class="table table-striped table-bordered table-nonfluid">
      <thead>
          <th>Action&nbsp;</th>
          <th>Id&nbsp;</th>
          <th>Company Name&nbsp;</th>
          <th>Description&nbsp;</th>
      </thead>
      <tbody>
          <tr ng-repeat="data in company">
              <td>
                  <div class="bs-glyphicons btn-group">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-click="save(data)">save</span>
                      <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="remove(data)">delete</span>
                  </div>
              </td>
              <td>
                  {{data.company_id}}
              </td>
              <td>
                  <input type="text" class="form-control" ng-model="data.company_name" />
              </td>
              <td>
                  <input type="text" class="form-control" ng-model="data.description" />
                </td>

          </tr>
      </tbody>
  </table>
</metable>
