<metable>
<table class="table table-striped table-bordered table-nonfluid">
    <thead>
        <th>Action&nbsp;</th>
        <th>Id&nbsp;</th>
        <th>Nickname&nbsp;</th>
        <th>Person&nbsp;</th>
        <th>Position&nbsp;</th>
    </thead>
    <tbody>
        <tr ng-repeat="data in user">
            <td>
                <div class="bs-glyphicons btn-group">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-click="save(data)">save</span>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="remove(data)">delete</span>
                </div>
            </td>
            <td>
                {{data.user_id}}
            </td>
            <td>
                <input type="text" class="form-control" ng-model="data.nickname" />
            </td>
            <td>
                <select ng-model="data.person_id" class="form-control" ng-options="person_id.person_id as person_id.last_name for person_id in person">
                </select>
            </td>
            <td>
                <select ng-model="data.position_id" class="form-control" ng-options="position_id.position_id as position_id.position_name for position_id in position">
                </select>
            </td>

        </tr>
    </tbody>
</table>
</metable>
