<metable>
<table class="table table-striped table-bordered table-nonfluid">
    <thead>
        <th>Action&nbsp;</th>
        <th>Id&nbsp;</th>
        <th>First Name&nbsp;</th>
        <th>Middle Name&nbsp;</th>
        <th>Last Name&nbsp;</th>
        <th>Email&nbsp;</th>
        <th>Phone&nbsp;</th>
    </thead>
    <tbody>
        <tr ng-repeat="data in person">
            <td>
                <div class="bs-glyphicons btn-group">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-click="save(data)">save</span>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="remove(data)">delete</span>
                </div>
            </td>
            <td>
                {{data.person_id}}
            </td>
            <td>
                <input type="text" class="form-control" ng-model="data.first_name" />
            </td>
            <td>
                <input type="text" class="form-control" ng-model="data.middle_name" /> </td>
            <td>
                <input type="text" class="form-control" ng-model="data.last_name" />
            </td>
            <td>
                <input type="text" class="form-control" ng-model="data.email" />
            </td>
            <td>
                <input type="text" class="form-control" ng-model="data.phone_number" />
            </td>


        </tr>
    </tbody>
</table>
</metable>
